<div class="container-fluid pt-2">
  <cm-common-header title="Students" (onAddClick)="addStudent()"></cm-common-header>

  <div class="row pt-5">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col" class="pull-right action-column">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of students; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ student.firstName }} {{ student.lastName}}</td>
        <td class="action-column">
          <button class="btn btn-info btn-sm mr-1" type="button" (click)="editStudent(student)">
            Edit
          </button>
          <cm-common-delete-btn (onDeleteClick)="deleteStudent(student)"></cm-common-delete-btn>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
